@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

body{
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    background-image: url(https://www.fda.gov/files/covid19-1600x900.jpg);
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
}
form{
    background-color: white;
    margin: 2% 10%;
    padding: 50px;
    opacity: 0.8;
    border-radius: 20px;
}
h1{
    font-size: 50px;
    margin-top: 20px;
    color: white;
}
#button{
    padding: 8px;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}
label{
    font-size: 20px;
}